{% extends 'base.html' %}


{% block title %}
Gestão de produtos
{% endblock title %}


{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock styles %}


{% block content %}
<section>

  <a href="{% url 'products:new' %}">
    <article id="add">
      <span class="material-icons">
        add_circle
      </span>
    </article>
  </a>

  {% for product in products %}
  <article>
    <h1>{{ product.name }}</h1>

    <figure>
      <img src="{{ product.image_url }}" alt="{{ product.name }}" />
    </figure>

    <p>
      <span class="cost">R$ {{ product.cost }}</span>

      <span class="quantity">{{ product.quantity }} unidade(s)</span>

      <span class="created-at">{{ product.created_at }}</span>

      <span class="group">
        <a href="{% url 'products:update' product.slug %}">
          <span class="material-icons edit">
            edit
          </span>
        </a>

        <a href="{% url 'products:delete' product.slug %}">
          <span class="material-icons delete">
            delete
          </span>
        </a>
      </span>
    </p>
  </article>
  {% endfor %}

</section>
{% endblock content %}