{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}

    {% endblock title %}
  </title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/base.css' %}">

  {% block styles %}

  {% endblock styles %}

</head>

<body>

  <header>
    <a href="{% url 'products:index' %}">
      <span class="material-icons" id="home">
        home
      </span>
    </a>

    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">
      <span class="material-icons" id="logout">
        exit_to_app
      </span>
    </a>
    {% endif %}

  </header>

  <main>

    {% block content %}

    {% endblock content %}

  </main>

</body>

</html>