@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Work Sans', sans-serif;
}

header {
  background-color: #564592;
  color: #FFF;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

header a {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: inherit;
  cursor: pointer;
  color: inherit;
  height: 100%;
}

main {
  width: 960px;
  margin: auto;
  padding: 20px;
}

header span#home,
header span#logout {
  font-size: 64px;
}